@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");

* {
  margin: 0;
  padding: 0;
}
.main {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Mochiy Pop One", sans-serif;
  background: #252839;
}
.navbar {
  /* https://i.makeagif.com/media/6-15-2015/CypncA.gif */
  height: 100px;
  width: 70;

  /* background-color: aqua;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  border-bottom: solid rgb(218, 214, 214);
  /* background-image: url(https://i.makeagif.com/media/6-15-2015/CypncA.gif);
  object-fit: cover; */
  /*for  navbar hower*/

  color: white;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
.border {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
}
.border:after,
.border:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 1s;
}
.border:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid black;
  border-left: 5px solid black;
}

.border:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}
.border:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #cfafee;
  color: black;
}

.border:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.border:hover:before,
.border:hover:after {
  width: 100%;
  height: 100%;
}
.navbarp2 {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  gap: 4vw;
  
}
.navbarp2 li {
  position: relative;
  list-style: none;
}
.navbarp2 li a {
  text-decoration: none;
  letter-spacing: 2px;
  /* line-height: 1em; */
  /* text-transform: uppercase; */
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
 
}
.navbarp2 li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 8px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
}
.navbarp2 li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr));
}
/* .navbarp2 li {
  display: flex;
  gap: 4vw;
  /*new hover effect*/
/* text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
.navbarp2::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 8px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
}
.navbarp2:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr));
}
.navbar h4 {
  font-size: 2vw;
  font-weight: 700;
} */
.content {
  height: calc(100% - 100px);
  width: 100%;
  /* background-color: pink; */
  display: flex;
  position: relative;
  align-items: center;
  padding: 4vw 2vw;

  /* background-image: url(https://i.gifer.com/BUhB.gif); */
  /* background-image: url(https://j.gifs.com/KY13YN.gif); */
  object-fit: cover;
}
.left {
  height: 100%;
  width: 55%;
}
.left span {
  /* color: rgb(212, 208, 208); */
  background-image: url(https://images.unsplash.com/photo-1550684848-fac1c5b4e853?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGNvbG9yfGVufDB8fDB8fHww&w=1000&q=80);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* color: rgb(148, 68, 68); */
}
.right {
  height: 100%;
  width: 45%;
  /* overflow: hidden; */
}
button {
  padding: 0.8vw 2vw;
  /* background-color: rgb(148, 68, 68); */
  background-color: gainsboro;
  color: rgb(43, 9, 9);
  border-radius: 10%;
  border-color: gainsboro;
}
.left h1 {
  font-size: 3vw;
  color: white;
}
.left h3 {
  font-size: 2vw;
  padding-bottom: 1vw;
  color: white;
}

.right img {
  height: 50%;
  width: 50%;
  border-radius: 70%;
  object-fit: cover;
  padding-left: 8vw;
  transition: all ease 1s;
  /* background: linear-gradient(rgb(85, 86, 87), red, pink, green, orange, black); */
  /** glich but awesome dikra **/
}

/*photo chota bada krne k liye*/
/* .right:hover img {
  scale: 1.2;
} */

/*for hover efect*/
  h4::before {
  transform: scaleX(0);
  transform-origin: bottom right;
} 

  h4:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}  
  
h4::before {
content: " "; 
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: rgb(243, 210, 243);
  z-index: -1;
  transition: transform 0.3s ease;
}

h4 {
  position: relative;
  font-size: 2vw;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}
/*photo ka 3d effect*/
.right img {
  transform: perspective(1500px) rotateY(15deg);
  /* border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
  transition: transform 1s ease 0s;

  &:hover {
    transform: perspective(3000px) rotateY(5deg);
  }
}
